{% extends 'main/main.html' %} {% load static %} 

{%block content %}

<div class="about-div">
  <p>
    Welcome to our weather information platform! We're dedicated to delivering
    comprehensive weather forecasts and valuable insights to help you make
    informed decisions about your day. Our team of meteorologists and weather
    enthusiasts is committed to providing accurate and up-to-date information,
    ensuring you're always prepared for whatever Mother Nature has in store.
  </p>
  <p>
    At our platform, you'll find a wide range of weather-related content,
    including current weather conditions, hourly and daily forecasts, severe
    weather alerts, and historical weather data. Whether you're planning a
    weekend getaway, scheduling outdoor activities, or simply curious about the
    weather in your area, we've got you covered.
  </p>
</div>

{% endblock content %}
