{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Weather</title>
</head>
<body>
    {{ user.username }}
    <a href="/logout/">logout</a>
    <hr>
    <!-- chennai  -->
    {% for city in cities %}
      <li><a href="{% url 'update' pk=city.pk %}">{{ city.name }}</a></li>
      <!-- {{city.name}} -->
    {% endfor %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
</body>
</html>