<!DOCTYPE html>
<html>
<head>
	<title>My Map</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="https://unpkg.com/leaflet/dist/images/marker-icon.png" type="image/x-icon">
	<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
	<style>html, body { width: 100%; height: 100%; margin: 0; padding: 0; }</style>
</head>
<body>
	<div id="map" style="width: 100%; height: 100%;"></div>

	<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
	<script>
		var mymap = L.map('map').setView([20.5937, 78.9629], 3); // Set view to India

		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 19,
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(mymap);

		// Access cities variable passed from Python
		var cities = {{ cities | safe }};

		// Add markers for each city
		cities.forEach(function(city) {
			L.marker([city.lat, city.lon]).addTo(mymap)
				.bindPopup(city.popup)
				.openPopup();
		});
	</script>
</body>
</html>