{% for weather in weather_data %}
<div class="box">
                <p>
                    {% for city in cities %}
                    {% if weather.name|lower == city.name|lower %}
                    <a href="{% url 'update' pk=city.pk %}">{{ city.name }}</a>
                    {% endif %}
                    {% endfor %}
                    <br>
                    <span class="subtitle">Temperature: {{ weather.temperature }}° C,</span>
                    <span class="subtitle"> Humidity: {{ weather.humidity }}° C</span>
                    <br>{{ weather.description }}
                    <img src="https://openweathermap.org/img/wn/{{weather.icon}}@2x.png" alt="">

                </p>
</div>
{% endfor %}