<!-- plot.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature and Humidity Plot</title>
</head>
<body>
    <h1>Temperature and Humidity Plot</h1>
    <a >openmeteo_plot</a>
    <img src="/media/temp_plot.png" alt="Temperature and Humidity Plot">
    <!-- <img src="https://archive-api.open-meteo.com/v1/archive?latitude=13.0878&longitude=80.2785&start_date=2024-04-15&end_date=2024-04-29&hourly=temperature_2m,relative_humidity_2m" alt="open meteo Temperature and Humidity Plot"> -->
    
</body>
</html>