/* ---------------------------------- */
/* -------------main page------------ */
/* ---------------------------------- */

body,
html {
  background-color: #121212;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-width: none;
}

.header {
  background-color: #333333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  /* sticky */
  /* position: sticky; */
  top: 0;
  z-index: 1000;
}

.header a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.right-section {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 10px;
}

/* old nav form css */

/* .search-form {
  display: flex;
  align-items: center;
}
.search-form input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #333333;
  color: white;
}

.search-input::placeholder {
  color: white;
  opacity: 1;
}

.input {
  color: red;
  border-radius: 10px;
} */

/* main container and divs */

.container {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  width: 100%;
  color: white;
}

/* ---------------------------------- */
/* -------------Home page------------ */
/* ---------------------------------- */

.first-div {
  background-color: rgb(95, 169, 235);
  /* flex:2; */
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: 40px; */
}

.second-div {
  /* background-color: aliceblue; */
  /* flex:10; */
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.third-div {
  /* background-color: blanchedalmond; */
  /* flex:15; */
  /* min-height: 300px; */
  height: 400px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  /* margin:20px 40px 20px 40px;
    border:6px solid #5e5e5e;
    border-radius: 8px; */
}

.fourth-div {
  /* background-color: rgb(231, 161, 55); */
  /* flex:4; */

  height: 200px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  /* margin:20px 40px 20px 40px;
    border:6px solid #5e5e5e; */
}

/* first div heading, search bar and content*/

.heading {
  font-size: 40px;
}

.content {
  text-align: center;
  width: 100%;
  overflow-y: auto;
  font-size: 15px;
}

/* search box */

.search-container {
  position: relative;
  width: 350px;
  /* margin: 0 auto; */

  display: flex;
  align-items: center;
  justify-content: center; /* Align items to the end */
  margin: 10px;
}

/* search input */

.search-input {
  width: 100%;
  height: 50px;
  /* padding: 10px; */
  border: none;
  border-radius: 25px;
  background-color: #f5f5f5;
  color: #333;
  font-size: 16px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  margin-right: 5px;
  /* Reduce the margin between input and button */
}

.search-input::placeholder {
  color: #999;
  opacity: 1;
}

.search-input:focus::placeholder {
  color: transparent;
}

.search-input:hover,
#search-input:focus {
  border-color: #fd9c9c;
}

.search-input:hover::placeholder,
.search-input:focus::placeholder {
  color: #bdacf8;
}

/* Search button */

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 120px;
  height: 100%;
  background-color: #555;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px 25px; /* Increase button padding */
}

.search-button:hover {
  background-color: #333;
}

/* weather card */

.card {
  width: 180px;
  height: 240px;
  background-color: #333333; /* White */
  /* border: 6px solid #ffdada; */
  border: 6px solid #5e5e5e;
  border-radius: 12px; /* Rounded outside borders */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px 5px 10px 5px;
  /* overflow: hidden;  */
  /* Clip content and borders to ensure rounded inside corners */
}
.card-content {
  padding: 10px;
}

.city-name {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.city-link {
  text-decoration: none;
  color: white;
}

.city-link:hover, .city-link:focus {
  text-decoration: none;
  color:  aqua;
}


.weather-info {
  text-align: center;
  color: white;
}

.weather-icon {
  width: 70px; /* Adjust as needed */
  height: 70px; /* Adjust as needed */
  margin: 5px;
}

.temperature,
.humidity {
  margin: 0;
  color: white;
}

/* map section */

#map {
  width: 90%;
  height: 80%;
  background-color: #333333;

  border: 6px solid #5e5e5e;
  border-radius: 12px;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px 5px 10px 5px;
}

/* final div content */

.content2 {
  text-align: center;
  width: 100%;
  margin: 0px 50px 20px 50px;
  overflow-y: auto;
  font-size: 18px;
}

/* footer */

footer {
  background-color: #333333;
  padding: 20px;
  text-align: center;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  display: flex;
}
.footer-section {
  flex: 1;
}
.footer-section h3 {
  margin-top: 0;
}
.footer-section ul {
  list-style-type: none;
  padding: 0;
}
.footer-section ul li {
  margin-bottom: 10px;
}

/* ---------------------------------- */
/* -----------loading page----------- */
/* ---------------------------------- */

.loading-first {
  /* background-color: rgb(0, 156, 196); */
  /* flex:2; */
  height: 350px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* font-size: 40px; */
}

.loading-second {
  /* background-color: rgb(202, 202, 202); */
  /* flex:1; */
  height: 50px;

  display: flex;
  align-items: last baseline;
  justify-content: space-around;

  font-size: 30px;
  color: aqua;
}

.loading-third {
  /* background-color: aliceblue; */
  /* flex:1; */
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.landing-top {
  /* background-color: #999; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.city-form {
  display: flex;
  align-items: center;
  height: 25%;
  width: 100%;
  /* background-color: darkolivegreen; */
}

.details {
  display: flex;
  /* flex-direction: column; */
  height: 75%;
  width: 100%;
  /* background-color: peachpuff; */
  font-size: 20px;
  /* overflow-y: auto; */
}

.details-1,
.details-2,
.details-3 {
  display: flex;
  height: 100%;
  width: 33.33%;

  align-items: center;
  justify-content: center;
}

.details-1 {
  /* background-color: rgb(95, 255, 47); */
  flex-direction: column;
}

.details-2 {
  /* background-color: rgb(172, 32, 102); */
  flex-direction: column;
}

.details-3 {
  /* background-color: rgb(97, 196, 196); */
  align-items: center;
}

.detail-row {
  list-style-type: none; /* Remove the bullet points */
  padding: 0; /* Remove default padding */
}

.detail-row li {
  margin: 10px; /* Add margin between each list item */
  transition: color 0.3s ease; /* Add transition for smooth color change */
}

.detail-row li:hover {
  color: aqua; /* Add hover effect */
}

.thermometer {
  height: 50%;
}

.graph {
  height: 90%;
  margin: 10px;
}


/*  */
/* 
.search-bar2{
  display:flex;
} */
/* input and buttons */
.search-bar2 {
  width: 200px;
  height: 30px;
  padding: 10px;
  margin-left: 20px;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: all 0.3s ease;
  font-size: 20px;
  color:grey;
}

.search-bar2::placeholder {
  color: #aaa;
  transition: color 0.3s ease;
}

.search-bar2:hover,
.search-bar2:focus {
  border-color: #fd9c9c;
}

.search-bar2:hover::placeholder,
.search-bar2:focus::placeholder {
  color:  #bdacf8;
}

/* buttons */
/* Update Button */
.update-button,
.delete-button {
  width: 120px;
  height: 40px;
  padding: 5px 20px;
  margin: 10px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4caf50; /* Green for update button */
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
}

/* Delete Button */
.delete-button {
  background-color: #f44336; /* Red for delete button */
}

/* Button Text */
.update-button span,
.delete-button span {
  position: relative;
  z-index: 1;
}

/* Button Overlay */
.update-button::after,
.delete-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

/* Hover Effect */
.update-button:hover::after,
.delete-button:hover::after {
  width: 100%;
  height: 100%;
}


.logout-button {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  text-decoration: none; /* Remove default underline */
  display: inline-block; /* Ensure button displays inline */
}

.logout-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: #ffffff;
  transition: all 0.3s ease;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; /* Move the background behind the text */
  opacity: 0; /* Initially hide the background */
}

.logout-button:hover::before,
.logout-button:focus::before { /* Apply effect on hover and focus */
  width: 0;
  height: 0;
  opacity: 1; /* Show the background */
}


.about-div{
  height: 64vh;
  /* flex:10; */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  /* padding:20px; */
  /* margin: 5%; */
  margin: 0 100px 0 100px;
  font-size: 20px;

}

.about-content{
  height: 100%;

}